<%= form_for @sea do |f| %>
    <div>
      <ul class="list-group">
        <li class="list-group-item">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </li>
        <li class="list-group-item">
          <%= f.label :temperature %>
          <%= f.number_field :temperature %>
        </li>
        <li class="list-group-item">
          <%= f.label :bio %>
          <%= f.text_area :bio %>
        </li>
        <li class="list-group-item">
          <%= f.label :image_url %>
          <%= f.text_field :image_url %>
        </li>
        <li class="list-group-item">
          <%= f.label :mood %>
          <%= f.text_field :mood %>
        </li>
        <li class="list-group-item">
          <%= f.label :favorite_color %>
          <%= f.text_field :favorite_color %>
        </li>
        <li class="list-group-item">
          <%= f.label :scariest_creature %>
          <%= f.text_field :scariest_creature %>
        </li>
        <li class="list-group-item">
          <%= f.label :has_mermaids %>
          <%= f.check_box :has_mermaids %>
        </li>
        <li class="list-group-item">
          <%=  f.submit %>
        </li>
        <li class="list-group-item">
        
        </li>
      </ul>
    </div>
<% end %>